* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right bottom, #b721ff, #4faeee, #1b6ea5);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  height: 85vh;
  width: 35vw;
  max-width: 500px;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}

main h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  padding: 3rem;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
}

main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form div {
  display: flex;
  flex-direction: column;
  width: 85%;
}

main form div input {
  width: 100%;
  padding: 2rem;
  height: 3rem;
  border: none;
  outline: none;
}

main form div {
  font-size: 0.9rem;
  color: #555;
  font-weight: 0;
}

main form div i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

main form div .icon-user {
  top: 16.9rem;
  color: #333;
}

main form div .icon-password {
  top: 22.2rem;
  color: #333;
}

main form div .icon-repeat {
  top: 27.5rem;
  color: #333;
}

a {
  text-decoration: none;
  color: #666;
  transition: 0.4s;
}

a:hover {
  color: #0056b3;
}

main form div a {
  text-align: end;
  font-size: 0.9rem;
}

main form button {
  width: 85%;
  font-size: 1rem;
  font-weight: 0;
  height: 3rem;
  margin: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    to right,
    #fa4ce3,
    #7823b1,
    rgb(147, 181, 255),
    #77fff4
  );
  background-size: 100%;
  background-repeat: no-repeat;
}

main .social {
  margin-top: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .social div i {
  font-size: 3.5rem;
  margin: 0.4rem;
  cursor: pointer;
}

main .social div i:first-child {
  color: #3b5998;
}

main .social div i:last-child {
  color: #a4c639;
}

main footer {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem;
}

main footer p {
  margin-right: 0.7rem;
}
